
   <div id="container" class='cols'>
     <!--  <div class="row"> -->
     <div class="grid">
      <% @code_programs.each do |code_program| %>
      <div class="grid-item">
        <div class="product-box">
          <% if code_program.keyword %>
          <p><strong>Org Name: </strong><a href="<%= code_program.website %>" target="_blank"><%= code_program.organization_name %></p></a>
          <p class='truncate'><strong>Description: </strong>
            <%= code_program.mission_description %><br /></p>
          <p><strong><center><a href="/code_programs/<%= code_program.id %>">Read More...</strong></center></a></p>
          <p><strong>Population Focus: </strong><%= code_program.population_focus %></p>
          <p><strong>Keywords: </strong><%= code_program.keywords %></p>
        </div>
        </div>
      <% end %>
      </div>
      </div>



